.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
  background: #17181F;
}

.modal-wrapper {
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal-wrapper .modal {
  background: #17181F;
  width: 90%;
  padding: 20px;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}

@media screen and (min-width: 768px) {
  .modal-wrapper .modal {
    top: 15%;
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .modal-wrapper .modal {
    top: 15%;
    width: 30%;
  }
} 
  