.container {
  max-width: 768px;
  margin: 0 auto;
  width: 90%;
  background: #17181F;
}

.modal-wrapper {
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal-wrapper .modal {
  background: #17181F;
  /* background: #fff; */
  width: 90%;
  padding: 20px;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}

.header {
  display: none;
}

.sidebar {
  display: none;
}

.ant-radio-checked .ant-radio-inner {
  background:
    linear-gradient(21.86deg, #CB4BCF 30.51%, #FE8D8A 67.86%, #FE8D8A 91.71%) !important;
}

.ant-radio-checked .ant-radio-inner:after {
  background-color: linear-gradient(21.86deg, #CB4BCF 30.51%, #FE8D8A 67.86%, #FE8D8A 91.71%);
}

.ant-radio:hover .ant-radio-inner {
  border-color: linear-gradient(21.86deg, #CB4BCF 30.51%, #FE8D8A 67.86%, #FE8D8A 91.71%);
}

@media screen and (min-width: 768px) {
  .modal-wrapper .modal {
    top: 15%;
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .modal-wrapper .modal {
    top: 15%;
    width: 20%;
  }

  .header {
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    display: block;
    background: #111116;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.3);
  }

  .sidebar {
    display: block;
  }

  .footer {
    display: none;
  }
}